pre {
    border: 1px solid #000;
}

p {
    background-color: rgb(63, 120, 226);
    color: #000;
}

ol {
    li {
        background-color: rgba(82, 76, 76, 0.11);
        color:  rgb(63, 120, 226);;
    }
}

h1 {
    color:navy; text-transform:uppercase; text-align: center;
}